/* IMPORTANDO A FONTE ROBOTO MONO */
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:ital,wght@0,100..700;1,100..700&display=swap');

/* FAZENDO O RESET DO CSS E ADICIONANDO A FONTE ROBOTO MONO PARA TODO O TEXTO */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: "Roboto Mono", monospace;
}

html {
    scroll-behavior: smooth;
}

/* CRIANDO AS VARIÁVEIS COM AS CORES DO SITE */
:root {
    --color-primary: #2E662E;
    --color-secondary: #88D775;
    --color-action-primary: #D17549;
    --color-action-secondary: #BE5A2A;
    --color-auxiliary-primary: #462969;
    --color-auxiliary-secondary: #DD97AE;
    --color-theme-clear: #FFF;
    --color-theme-dark: #1B1616;
    --color-alert-delete: #B31A15;
    --azul-: #1976D2;
}

