/* IMPORTANDO O ESTILO GERAL */
@import '../../css/styleGeral.css';

body, html{
    background-color: var(--color-primary);
}

.containerAll{
    width: 100%;
    background-color: var(--color-primary);
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

/* ------------------------------------- BOTÃO DE VOLTAR E O TÍTULO */
header{
    display: flex;
    justify-content: flex-start;
    align-items: center;
    width: 90%;
    height: auto;
    justify-self: center;
    padding-top: 50px;
    gap: 270px;
}

header h2{
    color: var(--color-theme-clear);
    font-size: 30px;
    font-weight: bold;
}

.btnVoltarHomeOng{
    width: 45px;
    height: 45px;
    background-color: var(--color-action-primary);
    border: none;
}

.btnVoltarHomeOng:hover{
    border: 0.5px solid var(--color-theme-clear);
    box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(255,255,255,1);
}

.btnVoltarHomeOng i{
    color: var(--color-theme-clear);
    font-weight: bold;
    font-size: 30px;
}



/* ------------------------------------- CARD PARA PODER CRIAR O CARD DE PROJETO DA ONG */
.mainContent{
    background-color: var(--color-secondary);
    width: 90%;
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 50px 0;
}


.cardContainer{
    width: 95%;
    background-color: transparent;
    box-shadow: none;
    display: flex;
    justify-self: center;
    align-self: center;
    justify-content: center;
    align-items: center;
    padding-top: 10px;
}


/* Parte da imagem e descrição */
.cardImgDescricao{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
    background-color: transparent;
    box-shadow: none;
    padding: 10px;
}

/* Card da imagaem */
.cardImg{
    width: 70%;
    height: 150px;
    border-radius: 10px;
    background-color: var(--color-auxiliary-primary);
    color: var(--color-theme-clear);
    cursor: pointer;
    overflow: hidden;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-weight: bold;
}

.inputImg{
    position: absolute;
    width: 100%;
    height: 100%;
    opacity: 0;
    z-index: 2;
    cursor: pointer;
}

.textUpload{
    z-index: 100;
    position: absolute;
    padding: 10px;
}

#imgSubida{
    width: 100%;
    height: 100%;
    object-fit: cover;
    position: absolute;
    top: 0;
    left: 0;
    display: none;
}


.cardTextDescricao{
    width: 300px;
    height: 300px;
    border-radius: 10px;
    resize: none;
    padding: 10px;
    border: none;
    color: var(--color-primary);
    font-size: 16px;
}

.cardTextDescricao:focus{
    outline: none;
    border: 1px solid var(--color-theme-dark);
    box-shadow: 0px 0px 4px 2px var(--color-primary);
    -webkit-box-shadow: 0px 0px 4px 2px var(--color-primary);
    -moz-box-shadow: 0px 0px 4px 2px var(--color-primary);
}


/* Parte das inputs */
.cardForm{
    background-color: transparent;
    width: 100%;
    border: none;
    box-shadow: none;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.cardInputs{
    width: 100% !important;
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    background-color: transparent;
    border: none;
    box-shadow: none;
    padding: 20px;
    justify-content: center;
    align-items: center;
}

.labelInput{
    display: flex;
    flex-direction: column;
    justify-self: center;
    align-self: center;
    width: 400px;
    font-weight: bold;
    font-size: 16px;
    padding: 10px;
    gap: 10px;
}

.textInput{
    color: var(--color-primary);
}

.inputs{
    align-self: center;
    justify-self: center;
    width: 400px;
    height: 50px;
    background-color: var(--color-theme-clear);
    color: var(--color-primary);
    border: none;
}

.inputs:focus{
    border: 2px solid var(--color-primary);
    box-shadow: 0px 0px 2px 1px var(--color-primary);
    -webkit-box-shadow: 0px 0px 2px 1px var(--color-primary);
    -moz-box-shadow: 0px 0px 2px 1px var(--color-primary);
}

.inputs::placeholder{
    color: var(--color-primary);
}

/* Parte do botão criar */
.btnCriarCard{
    background-color: var(--color-action-secondary);
    border: none;
    margin-bottom: 30px;
    display: flex;
    align-self: center;
    justify-self: center;
}

.btnCriarCard:hover{
    border: 0.5px solid var(--color-primary);
    box-shadow: 0px 0px 3px 1px rgba(0,0,0,1);
    -webkit-box-shadow: 0px 0px 3px 1px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 3px 1px rgba(0,0,0,1);
}
