/* IMPORTANDO O ESTILO PRINCIPAL DESTA PÁGINA */
@import './estiloCriarCardProjetoOng.css';


@media(max-width: 1450px){
    /* Inputs */
    .labelInput{
        width: 350px;
    }
    .inputs{
        width: 350px;
        height: 45px;
    }
}


@media(max-width: 1330px){
    /* Inputs */
    .labelInput{
        width: 300px;
    }
    .inputs{
        width: 300px;
        height: 40px;
    }

    /* CARD PARA PODER CRIAR O CARD DE PROJETO DA ONG */
    .cardContainer{
        gap: 30px;
    }

    /* Parte do botão criar */
    .btnCriarCard{
        width: 170px;
        height: 50px;
        font-size: 18px;
    }
}

@media(max-width: 1220px){
    /* BOTÃO DE VOLTAR E O TÍTULO */
    header{
        gap: 230px;
    }

    header h2{
        font-size: 25px;
    }

    .btnVoltarHomeOng{
        width: 40px;
        height: 40px;
    }

    .btnVoltarHomeOng i{
        font-size: 25px;
    }

    /* Parte da imagem e descrição */
    .cardImgDescricao{
        padding: 5px;
    }

    /* Card da imagaem */
    .cardImg{
        height: 120px;
    }

    .cardTextDescricao{
        width: 250px;
        height: 200px;
    }

    /* Parte das inputs */
    .cardInputs{
        column-gap: 30px;
    }

    .labelInput{
        width: 300px;
    }

    .inputs{
        width: 300px;
    }

    /* Parte do botão criar */
    .btnCriarCard{
        width: 145px;
        height: 40px;
        font-size: 16px;
    }
}

@media(max-width: 1130px){
    /* CARD PARA PODER CRIAR O CARD DE PROJETO DA ONG */
    .cardContainer{
        column-gap: 20px;
        padding: 0 20px;
    }

    /* Parte das inputs */
    .cardInputs{
        column-gap: 10px;
    }

    .labelInput{
        width: 270px;
    }

    .inputs{
        width: 270px;
    }
}

@media (max-width: 1000px){
    /* BOTÃO DE VOLTAR E O TÍTULO */
    header{
        gap: 160px;
    }

    /* CARD PARA PODER CRIAR O CARD DE PROJETO DA ONG */
    .cardContainer{
        align-items: flex-start;
        margin-top: 50px;
    }

    /* Parte da imagem e descrição */
    .cardImgDescricao{
        padding: 5px;
    }

    /* Card da imagaem */
    .cardImg{
        height: 140px;
        width: 80%;
    }

    .cardTextDescricao{
        width: 270px;
        height: 240px;
    }

    /* Parte das inputs */
    .cardInputs{
        grid-template-columns: auto;
        column-gap: 0;
        row-gap: 20px;
    }

    .labelInput{
        width: 400px;
    }

    .inputs{
        width: 400px;
    }
}


@media (max-width: 870px){
    /* BOTÃO DE VOLTAR E O TÍTULO */
    header{
        gap: 90px;
    }

    header h2{
        font-size: 20px;
    }

    .btnVoltarHomeOng{
        width: 37px;
        height: 37px;
    }

    .btnVoltarHomeOng i{
        font-size: 25px;
    }

    /* CARD PARA PODER CRIAR O CARD DE PROJETO DA ONG */
    .cardContainer{
        flex-direction: column;
        align-items: center;
    }

    /* Card da imagem */
    .cardImg{
        height: 150px;
        width: 55%;
    }

    .cardTextDescricao{
        width: 500px;
        height: 240px;
    }

    /* Parte das inputs */
    .labelInput{
        width: 500px;
    }

    .inputs{
        width: 500px;
        height: 50px;
    }

    /* Parte do botão criar */
    .btnCriarCard{
        width: 160px;
        height: 60px;
        font-size: 18px;
    }
}

@media (max-width: 670px){
    /* BOTÃO DE VOLTAR E O TÍTULO */
    header{
        gap: 50px;
    }

    header h2{
        font-size: 18px;
    }

    .btnVoltarHomeOng{
        width: 35px;
        height: 35px;
    }

    /* Card da imagem */
    .cardImg{
        height: 115px;
        width: 55%;
    }

    .cardTextDescricao{
        width: 300px;
        height: 240px;
    }

    /* Parte das inputs */
    .labelInput{
        width: 400px;
    }

    .inputs{
        width: 400px;
        height: 40px;
    }

    /* Parte do botão criar */
    .btnCriarCard{
        width: 120px;
        height: 45px;
        font-size: 16px;
    }
}

@media(max-width: 480px){
    /* BOTÃO DE VOLTAR E O TÍTULO */
    header{
        gap: 20px;
    }

    header h2{
        font-size: 16px;
    }

    .btnVoltarHomeOng{
        width: 33px;
        height: 33px;
    }

    /* Card da imagem */
    .cardImg{
        height: 100px;
        width: 55%;
    }

    .cardTextDescricao{
        width: 300px;
        height: 240px;
    }

    /* Parte das inputs */
    .labelInput{
        width: 300px;
    }

    .inputs{
        width: 300px;
        height: 40px;
    }

    /* Parte do botão criar */
    .btnCriarCard{
        width: 110px;
        height: 40px;
        font-size: 14px;
    }
}


@media(max-width: 380px){
    /* BOTÃO DE VOLTAR E O TÍTULO */
    header{
        gap: 40px;
        flex-direction: column;
        align-items: flex-start;
        width: 80%;
    }

    /* Card da imagem */
    .cardImg{
        height: 100px;
        width: 60%;
        font-size: 14px;
    }

    .cardTextDescricao{
        width: 250px;
        height: 230px;
    }

    /* Parte das inputs */
    .labelInput{
        width: 250px;
        font-size: 14px;
    }

    .inputs{
        width: 250px;
    }

}
